[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[github]
	user = lordzork
	token = 4715a54745786350651ef32d31690c29
[alias]
	co = checkout
	ai = add -i
[user]
[core]
	excludesfile = ~/.gitignore_global
	pager = less
[push]
	default = current
[user]
	name = Timothy King
	email = tmk@lordzork.com
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[credential]
	helper = cache --timeout=36000
